*, 
*:before, 
*:after {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/*---------------------------------------------
------------------BASE STYLES------------------
---------------------------------------------*/

body {
    color: darkslategrey;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

main {
    margin: 2px 10px 10px 10px;
}

form {
    margin: 10px auto;
    background: rgba(172, 174, 190, 0.26);
    border-radius: 8px;
}

fieldset {
    border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    background: blue;
    border: none;
    height: auto;
    margin: 10px 0px 40px 0px;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #d8d8d8;
    border-radius: 8px;
    color: black;
    box-shadow: inset grey;
    transition: background 1s;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 10px 0px;
}

input[id="zipcode"] {
    display: block;
    max-width: 50%;
}

button {
    padding: 20px 40px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #2fa295;
}

footer {
   text-align: center;
   font-style: italic;
   font-size: .75em;
   color: grey;
}

/*-------------------Class Selectors------------------------*/

.h2 {
    font-weight: bold;
    font-size: 1.5em;
}

.border-container-out {
    margin: 0 auto;
    max-width: 400px;
    border-top: solid 4px darkslategrey
}

.border-container-in {
    margin-top: 3px;
    border-top: solid 1px darkslategrey;
}

.head-container {
    margin: 0px 10px;
}

.main-container {
    padding: 10px 5px;
}

.main-header {
    text-align: center;
    background-color: #13293D;
    width: 100%;
    height: auto;
    padding: 25px 15px;
    color: white;
}

.form-head {
    text-align: center;
}

.form-bio {
    text-align: center;
    color: lightgrey;
    padding-bottom: 40px;
    margin-bottom: 0px;
}

.contact-info {
    padding: 0;
}

.info-container {
    margin-top: 20px;    
}

.newsletter {
    padding-left: 0px;
    padding-right: 0px;
}

.newsletter-container {
    padding-top: 40px;
    border-top: solid 2px darkslategrey;
}

.news-subtitles {
    display: inline-block;
    padding-top: 20px;
}

/*--------------------Advanced Selectors--------------------*/

input:focus,
select:focus,
textarea:focus {
    border: solid 2px darkblue;
    background: #d8d8d800;
}

input[id="name"]::placeholder,
input[id="email"]::placeholder {
    text-align: right;
    font-style: italic;
    font-size: .8em;
}

::placeholder {
    text-align: left;
    font-style: italic;
    font-size: .8em;
}

/*-------------------------------------------------
------------------MEDIA QUERIES--------------------
-------------------------------------------------*/

@media (min-width: 768px) {

    .border-container-out {
        max-width: 600px;
    }

    #zipcode {
        width: 25%;
    }

   .input-label-line {
       display: flex;
       width: 100%;
       flex-direction: row;
       align-items: center;
       margin: 20px 0px;
    }

   .input-label-line label {
       width: 25%;
   }

   .input-label-line input,
   .input-label-line select {
       width: 75%;
       margin: 0;
   }

   .info-container {
       margin: 10px 0px 40px 0px;
   }

}